@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

@mixin font-settings($weight: 200, $style: normal, $width: 100) {
  font-family: "Noto Sans Display", serif;
  font-optical-sizing: auto;
  font-weight: $weight !important;
  font-style: $style;
  font-variation-settings: "wdth" $width;
}

body {
  @include font-settings(200);
}

h1, h2, h3, h4, h5, h6 {
  @include font-settings(300);
}

.disabled {
  position: relative;
  pointer-events: none;
  .thinker {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1000;
  }
}
.bkg-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}