@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

@mixin font-settings($weight: 200, $style: normal, $width: 100) {
  font-family: "Noto Sans Display", serif;
  font-optical-sizing: auto;
  font-weight: $weight !important;
  font-style: $style;
  font-variation-settings: "wdth" $width;
}

body {
  @include font-settings(200);
}

h1, h2, h3, h4, h5, h6 {
  @include font-settings(300);
}

.disabled {
  position: relative;
  pointer-events: none;
  .thinker {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 1000;
    filter: saturate(0) brightness(1.1);
  }
}
.bkg-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.user-card {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
}

.icon-btn {
  height: 40px;
  width: 40px;
  padding: 0.35em;
  background-color: #CC0000;
  border-radius: 50%;
  color: #FFF;
  transition: ease-in-out 0.1s;
  &:hover {
    transform: scale(1.1);
  }
  &.mod {
    > svg {
      position: relative;
      left: -2px;
      top: -2px;
    }
  }
}